div.mera{
	background-color:grey;
}

div.mera2{
		color:blue;
		background-color:#00ff00;
width:250px;
padding:5px;
border:5px solid gray;
margin:2px;
}

h1{
color:blue;
text-align:center;
}


div.mera3{
	position: relative;
	display:block;
	float:center; 
	margin: 0 0 15px 15px;
}

body{
	background-color:#00ff00;
}